.todo-list{
	width: 500px;
	border:1px solid red;
}
h1{
	font-family: Arial, Sans-Serif, Tahoma;
	color:red;
}
.btn{
	background: yellow;
	margin: 5px;
	color:black;
	text-align: center;
}
ul{
	margin: 0;
	padding: 0;
}
li{
	list-style: none;

}